<<<<<<< HEAD
﻿@model IEnumerable<parc_auto_v1.Models.Demandes>

@{
    ViewData["Title"] = "Demande List";
}

<h2>Demande List</h2>

<form asp-action="UpdateDemande" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kilométrage</th>
                <th>Voiture Matricule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var demande in Model)
            {
                <tr>
                    <td>@demande.Nom @demande.Prenom</td>
                    <td>
                        <input type="number" name="kilometrage" value="@demande.Kilometrage" class="form-control" />
                    </td>
                    <td>@demande.Voiture?.Matricule</td>
                    <td>
                        <input type="hidden" name="id" value="@demande.Id" />
                        <button type="submit" class="btn btn-primary">Update Kilométrage and Make Available</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
=======
﻿@model IEnumerable<parc_auto_v1.Models.Voiture>

@{
    ViewData["Title"] = "Voiture List";
}

<h2>Voiture List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Matricule</th>
            <th>Disponibilité</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var voiture in Model)
        {
            @if (voiture.Disponibilite == "Reserved")
            {
                <tr>
                    <td>@voiture.Matricule</td>
                    <td>@voiture.Disponibilite</td>
                    <td>
                        @if (voiture.Disponibilite == "Reserved")
                        {
                            <form asp-action="ChangeDisponibilite" method="post" asp-route-id="@voiture.Id">
                                <button type="submit" class="btn btn-primary">Rendre Disponible</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
>>>>>>> 2078fab796a7e7e564eda3af7f783cc9f51e6122
