@model List<parc_auto_v1.Models.Assurance>

@{
    ViewData["Title"] = "Assurances";
}

<h2>Assurances</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].DateEchance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DateValide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Alert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PrixUnitaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Voiture.Matricule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEchance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateValide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alert)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrixUnitaire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voiture.Matricule)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
