@model parc_auto_v1.Models.Vignette

@{
    ViewData["Title"] = "Vignette Details";
}

<h1>Vignette Details</h1>

<div>
    <h4>Vignette</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateEchance)
        </dt>
        <dd class="col-sm-10">
<<<<<<< HEAD
            @Model.DateEchance.ToString("yyyy-MM-dd")
=======
<<<<<<< HEAD
            @Html.DisplayFor(model => model.DateEchance.ToString("yyyy-MM-dd"))
=======
            @Model.DateEchance.ToString("yyyy-MM-dd")
>>>>>>> d97746bf60d8483445cdc403eb6f751c9e5b4b84
>>>>>>> 2078fab796a7e7e564eda3af7f783cc9f51e6122
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateValide)
        </dt>
        <dd class="col-sm-10">
<<<<<<< HEAD
            @Model.DateValide.ToString("yyyy-MM-dd")
=======
<<<<<<< HEAD
            @Html.DisplayFor(model => model.DateValide.ToString("yyyy-MM-dd"))
=======
            @Model.DateValide.ToString("yyyy-MM-dd")
>>>>>>> d97746bf60d8483445cdc403eb6f751c9e5b4b84
>>>>>>> 2078fab796a7e7e564eda3af7f783cc9f51e6122
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrixUnitaire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrixUnitaire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voiture.Matricule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voiture.Matricule)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
