@model parc_auto_v1.Models.Demandes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Demandes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmploye)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEmploye)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AffectationDepartement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AffectationDepartement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeVoiture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeVoiture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateDepart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateDepart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateArrivee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateArrivee)
        </dd>
      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoitureId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoitureId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
