@model IEnumerable<parc_auto_v1.Models.Demandes>

@{
    ViewData["Title"] = "Your Demands";
}

<h1>Your Demands</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Request</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nom)</th>
            <th>@Html.DisplayNameFor(model => model.Prenom)</th>
            <th>@Html.DisplayNameFor(model => model.IdEmploye)</th>
            <th>@Html.DisplayNameFor(model => model.AffectationDepartement)</th>
            <th>@Html.DisplayNameFor(model => model.TypeVoiture)</th>
            <th>@Html.DisplayNameFor(model => model.Destination)</th>
            <th>@Html.DisplayNameFor(model => model.DateDepart)</th>
            <th>@Html.DisplayNameFor(model => model.DateArrivee)</th>
            <th>@Html.DisplayNameFor(model => model.Mission)</th>
            <th>@Html.DisplayNameFor(model => model.Etat)</th>
            <th>Matricule</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                <td>@Html.DisplayFor(modelItem => item.Prenom)</td>
                <td>@Html.DisplayFor(modelItem => item.IdEmploye)</td>
                <td>@Html.DisplayFor(modelItem => item.AffectationDepartement)</td>
                <td>@Html.DisplayFor(modelItem => item.TypeVoiture)</td>
                <td>@Html.DisplayFor(modelItem => item.Destination)</td>
                <td>@item.DateDepart.ToShortDateString()</td>
                <td>@item.DateArrivee.ToShortDateString()</td>
                <td>@Html.DisplayFor(modelItem => item.Mission)</td>
                <td>
                    @if (item.Etat == "Accepted")
                    {
                        <span class="badge bg-success">Accepted</span>
                    }
                    else if (item.Etat == "Refused")
                    {
                        <span class="badge bg-danger">Refused</span>
                    }
                    else
                    {
                        <span class="badge bg-warning text-dark">Pending</span>
                    }
                </td>
                <td>
                    @if (item.Etat == "Refused")
                    {
                        <span class="badge bg-danger ">Refused</span>
                    }
                    else if (item.Voiture != null)
                    {
                        @Html.DisplayFor(modelItem => item.Voiture.Matricule)
                    }
                    else
                    {
                        <span class="badge bg-warning  text-dark">Not Assigned</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
