@model IEnumerable<parc_auto_v1.Models.Demandes>

@{
    ViewData["Title"] = "Index";
}

<h1>Demandes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nom)</th>
            <th>@Html.DisplayNameFor(model => model.Prenom)</th>
            <th>@Html.DisplayNameFor(model => model.IdEmploye)</th>
            <th>@Html.DisplayNameFor(model => model.AffectationDepartement)</th>
            <th>@Html.DisplayNameFor(model => model.TypeVoiture)</th>
            <th>@Html.DisplayNameFor(model => model.Destination)</th>
            <th>@Html.DisplayNameFor(model => model.DateDepart)</th>
            <th>@Html.DisplayNameFor(model => model.DateArrivee)</th>
        
            <th>@Html.DisplayNameFor(model => model.Mission)</th>
            <th>@Html.DisplayNameFor(model => model.Etat)</th>

            <th>Matricule</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                <td>@Html.DisplayFor(modelItem => item.Prenom)</td>
                <td>@Html.DisplayFor(modelItem => item.IdEmploye)</td>
                <td>@Html.DisplayFor(modelItem => item.AffectationDepartement)</td>
                <td>@Html.DisplayFor(modelItem => item.TypeVoiture)</td>
                <td>@Html.DisplayFor(modelItem => item.Destination)</td>
                <td>@Html.DisplayFor(modelItem => item.DateDepart)</td>
                <td>@Html.DisplayFor(modelItem => item.DateArrivee)</td>
            
                <td>@Html.DisplayFor(modelItem => item.Mission)</td>
                <td>@Html.DisplayFor(modelItem => item.Etat)</td>
                <td>@(item.Voiture != null ? Html.DisplayFor(modelItem => item.Voiture.Matricule) : "N/A")</td>


                <td>
                    @if (item.Etat != "Accepted" && item.Etat != "Refused")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
